.svgIcon-root {
  fill: currentColor;
}
.arrow-icon {
  width: 15px;
  height: 15px;
  color: #8190b8;
}
.checkbox {
  width: 20px;
  height: 20px;
}
.svgBox {
  display: flex;
  align-items: center;
}
.indeterminate-checkbox,
.checked-checkbox {
  color: #7a88fe;
}
.load-icon {
  width: 15px;
  height: 15px;
  animation: rotate-loading 0.9s linear infinite;
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
