#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.cascader {
  position: relative;
}
.cascader_input_box .placeholder {
  font-size: 14px;
  font-family: Source Han Sans CN, Source Han Sans CN;
  font-weight: 400;
  color: #8190b8;
}
.cascader_input_box {
  padding: 0 10px;
  min-width: 100px;
  min-height: 40px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #7a88fe;
  cursor: pointer;
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
}
.cascader_input {
  font-size: 14px;
  font-family: Source Han Sans CN, Source Han Sans CN;
  font-weight: 400;
  color: #242859;
}
